@import "../css/media.scss";

.table-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.table {
  $legend-size: 60px;
  $cell-height: 70px;
  $cell-height-hover-only: 50px;
  $cell-width: 66px;
  $cell-width-wide: 92px;
  $cell-gap: 1px;
  $border-radius: 12px;

  display: flex;
  flex-direction: column;
  padding: $cell-gap;

  border-radius: $border-radius;
  background: var(--K150);
  box-shadow: 1px 2px 6px rgba(var(--K700-rgb), 0.1),
    4px 8px 20px rgba(var(--K700-rgb), 0.08);

  text-align: center;

  @media #{$query-min-lg} {
    margin: 40px;
  }

  @mixin legend {
    font-size: 18px;
    font-weight: 600;

    color: var(--K600);
  }

  &__title {
    flex: 1;
    width: 100%;
    padding: 20px 0 0;

    font-size: 14px;
    font-weight: 600;
    color: var(--K700);
  }
  &__headers {
    display: flex;
    padding-left: $legend-size + $cell-gap;
    gap: $cell-gap;

    .table__header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      width: $cell-width;
      height: $legend-size;
      flex-shrink: 0;

      @include legend();

      background-color: var(--K150);

      &--wide {
        width: $cell-width-wide;
      }
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    gap: $cell-gap;
  }

  &__row {
    display: flex;
    gap: $cell-gap;

    &__legend {
      @include legend();
      display: flex;
      width: $legend-size;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      background-color: var(--K150);

      &--dakuten {
        background-color: var(--K200);
      }
    }

    .cell {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      gap: 4px;
      width: $cell-width;
      height: $cell-height;

      background: var(--white);

      &--hover-only {
        height: $cell-height-hover-only;
      }

      &--wide {
        width: $cell-width-wide;
      }

      &--dakuten,
      &--null {
        background-color: var(--K100);
      }

      &__character {
        &--jp {
          font-size: 28px;
        }
        &--en {
          font-size: 16px;
          font-weight: 400;
        }

        &--hover-only {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &.cell__character--jp {
            z-index: 2;
            opacity: 1;
          }
          &.cell__character--en {
            opacity: 0;
            z-index: 1;
            font-size: 20px;
            box-shadow: inset 0 0 0 3px rgba(var(--K500-rgb), 0.2);
          }
        }
      }

      &--hover-only:hover {
        .cell__character--jp {
          opacity: 0;
        }
        .cell__character--en {
          opacity: 1;
        }
      }

      &:hover .en--hover-only {
        opacity: 1;
      }

      &--exception .en {
        font-weight: 700;
      }
    }

    &:last-child .cell:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }
}
