.type-chars {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.type-chars-card {
  &__jp {
    font-size: 60px;

    &:not(.type-chars-card__jp--no-hint) {
      cursor: pointer;

      &:hover {
        color: var(--accent);
      }
    }
  }
}
