@import "../css/media.scss";

.wb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__translation {
    font-size: 24px;
    font-weight: 500;
    color: var(--K700);

    @media #{$query-max-sm} {
      font-size: 20px;
    }
  }
  &__kanji {
    margin-bottom: 10px;
    font-size: 34px;
    color: var(--K700);

    @media #{$query-max-sm} {
      font-size: 30px;
    }
  }
}

.card-wrap .wb-card {
  &.card {
    width: 400px;
    gap: 30px;

    @media #{$query-max-sm} {
      gap: 16px;
    }
  }

  &__hk {
    font-size: 44px;

    @media #{$query-max-sm} {
      font-size: 40px;
    }

    &:not(.wb-card__hk--no-hint) {
      cursor: pointer;

      &:hover {
        color: var(--accent);
      }
    }
  }

  &__en {
    // hiding for now; using spacebar for hints instead
    // display: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--K600);
  }

  .large-input {
    width: 200px;
    max-width: 100%;
  }
}
