.glow-item {
  $shadow-regular-inward: inset 0 0 0 0 rgba(0, 0, 0, 0);
  $shadow-success-inward: inset 0 0 0 6px var(--status-green);
  $shadow-error-inward: inset 0 0 0 6px var(--status-red);

  $shadow-regular-outward: 0 0 0 0 rgba(0, 0, 0, 0);
  $shadow-success-outward: 0 0 0 8px var(--status-green);
  $shadow-error-outward: 0 0 0 8px var(--status-red);

  animation-duration: 2s;

  &--correct {
    &.glow-item--inward {
      animation-name: glow-green-inward;
    }
    &.glow-item--outward {
      animation-name: glow-green-outward;
    }
  }
  &--incorrect {
    &.glow-item--inward {
      animation-name: glow-red-inward;
    }
    &.glow-item--outward {
      animation-name: glow-red-outward;
    }
  }

  @keyframes glow-green-inward {
    0% {
      box-shadow: $shadow-regular-inward;
    }
    50% {
      box-shadow: $shadow-success-inward;
    }
    100% {
      box-shadow: $shadow-regular-inward;
    }
  }
  @keyframes glow-red-inward {
    50% {
      background: rgba(var(--status-red-rgb), 0.2);
      color: var(--status-red);
    }
  }

  @keyframes glow-green-outward {
    0% {
      box-shadow: $shadow-regular-outward;
    }
    50% {
      box-shadow: $shadow-success-outward;
    }
    100% {
      box-shadow: $shadow-regular-outward;
    }
  }
  @keyframes glow-red-outward {
    0% {
      box-shadow: $shadow-regular-outward;
    }
    50% {
      box-shadow: $shadow-error-outward;
    }
    100% {
      box-shadow: $shadow-regular-outward;
    }
  }
}
